

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*Fonts used-----------------------------------------------------------------------------*/

@font-face {
	font-family: 'Raleway Light';
	src: local('Raleway Light'), url("../fonts/Raleway-Light.otf") format('opentype');
}

@font-face {
	font-family: 'Raleway';
	src: local('Raleway'), url("../fonts/Raleway-Regular.otf") format('opentype');
}

@font-face {
	font-family: 'Lilly';
	src: local('Lilly'), url("../fonts/Lilly.ttf") format('truetype');
}

@font-face {
	font-family: 'Lato Semibold';
	src: local('Lato Semibold') , url("../fonts/Lato-Semibold.woff") format('woff'); 
}

@font-face {
	font-family: 'Lato Regular';
	src: local('Lato Regular') , url("../fonts/Lato-Regular.woff") format('woff'); 
}

/*Search form styles----------------------------------------------------------------------*/
#important{
	display:block !important ;
}
.secondary-title{
	vertical-align: middle;
	position: relative;
	color: white;
	text-shadow: 0px 0px 6px white;
	font-family: Lilly;
	font-size: 27px;
}

#search-box{
	width: 320px;
	height: 35px;
	font-family: 'Lato Regular';
	font-size: 14pt;
	color: #707070;
	border : 1px solid #4EADE6;
	padding-right: 51px;
	padding-left: 10pt;
	background-color: transparent;
}

.search-wrapper{
	padding-top: 39px;
	padding-bottom: 10px;
	text-align: left;
	width: 100%;
	height: auto;
}

/*.search-wrapper#searchview{
	background-image: url("../images/low.png");
}*/

.search-wrapper#mainview{
	padding-top: 130pt;
}

.form-wrapper *{
	display: inline;
}

.search-wrapper#mainview .form-wrapper {
	position: relative;
	top: 40pt;
}

.search-wrapper#mainview img {
	width: 50pt;
	height: 50pt;
}

#min-search-box {
	border-width: 0pt;
	border-bottom-width: 3pt;
	border-color: gray;
	width: 500pt;
	height: auto;
	font-size: 25pt;
	color: rgb(80,80,80);
	font-family: 'Open Sans' , sans-serif;
}

#search-prompt {
	color: black;
	text-shadow: 0px 0px 6px gray;
	font-family: 'Open Sans' , sans-serif;
	font-size: 24pt;
	vertical-align: middle;
}

#search-button img{
	vertical-align: bottom;
	background-color: #5FB0E7;
	height: 35px;
	width: 39px;
}

#search-button{
	margin-left: -4px;
	padding: 0px;
	height: 35px;
	width: 39px;
}

.btn-transparent, .btn-transparent:hover {
	background-color: transparent;
}

input, input:active, input:focus{
	outline: 0pt;
}


/*Category list styles-------------------------------------------------------------------*/

.options-wrapper{
	position: relative;
	height: 42px;
	text-align: center;
	box-shadow: 0px 0px 10px gray;
}


.criteria-list {
	width: 90%;
	padding-left: 5%;
	line-height: 30px;
	border-radius: 4px;
}

.criteria-list:hover{
	color: white;
	background-color:#C3DDEC;
	cursor: pointer;
}

.page{
	color: white;
	background-color:#4EADE6;
	cursor: pointer;	
}

.criteria#criteriasearch {
	display: block;
}

/*Results view styles--------------------------------------------------------------------*/

#pageResults > .result-elements{
	margin-top: 10px;
	margin-bottom: 15px;
	padding: 10px;
	min-height: 60px;
	border-style: solid;
	border-width: 1pt;
	background-color: whitesmoke;
	border-color: rgba(0, 0, 0, 0.22);
}
#imageResults > .result-elements{
	margin-top: 10px;
	margin-bottom: 15px;
	padding: 10px;
    height: 80px;
    width: auto; 
	border-style: solid;
	border-width: 0pt;
	border-left-width: 3pt;
	border-color: rgba(0, 0, 0, 0.22);
}

#pageResults > .result-elements:hover {
	box-shadow: 0px 0px 5px #007fff;
	border-color: #007fff;
}
#imageResults > .result-elements:hover {
	box-shadow: 0px 0px 10px #007fff;
	border-color: #007fff;
}
#pageResults > .result-elements > h3{
	font-size: 20px;
	overflow: hidden;
	height: 35px;
	margin: 0;
}


#musicResults > .result-elements {
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 10px;
    background: rgb(245, 245, 245);
    border-width: 0pt;
    border-left-width: 3pt;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.22);
}

#musicResults > .result-elements:hover {
	box-shadow: 0px 0px 10px #007fff;
	border-color: #007fff;
}

#musicResults > .result-elements img {
	width: 50pt;
	height: 50pt;
	padding-right: 30pt;
	padding-bottom: 10pt;
}

.music-result-title{
	padding-bottom: 10px;
	font-size: 15px;
	color: black;
	font-family: 'Lato Regular';
}

.music-result-artist{
	padding-right: 10px;
	margin-right: 10px;
	font-size:0.9em;
	color:grey;
}

.page-link {
	font-size:0.9em;
	color:green;
}

.page-desc, .page-pub {
	font-size:0.9em;
}

#results {
	padding: 30pt;
}

#noResults {
	display: none;
	padding-top: 100px;
	text-align: center;
	font-family: 'Raleway';
	font-size: 40pt;
	color: #A3A3A3;
	text-shadow: 0px 0px 10px;
}

#noResults #sad {
	vertical-align: middle;
	font-size: 200px;
	color: gray;
}

.search-wrapper#searchview {
	width: 81%;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 2%;
	float: left;
}

.results-wrapper
{
	width: 75%;
	float: left;
}

#settings-navigator{
	width: 78%;
	margin-left: 2%;
	height: 50px;
	float: left;
	border-bottom: 0px solid #E9EEEE;
}

#mainview .form-wrapper{
	text-align: center;
}

 /* jPaginator NavLinks styles */

.pagination {list-style:none; margin:0px; padding:0px;}  
.pagination li{float:left; margin:3px;}  
.pagination li a{   display:block; padding:3px 5px; color:#fff; background-color:#44b0dd; text-decoration:none;}  
.pagination li a.active {border:1px solid #000; color:#000; background-color:#fff;}  
.pagination li a.inactive {background-color:#eee; color:#777; border:1px solid #ccc;}  

/* Left Bar Styles */

#leftbar {
	width: 12%;
	padding: 1%;
	height: 500px;
	padding-right: 4%;
	float: left;
}

#searchlogo {
	font-family: 'Lato Regular';
	font-size: 35px;
	text-align: left;
	color: #4EADE6;
	margin-left: 5%;
	padding-left: 5%;
	width: 80%;
	margin-top: 70px;
	}
.logo:hover {
	text-decoration: none !important;
	color: #4EADE6;
}
.logo {
	text-decoration: none !important;
	color: #4EADE6;
}

#refinelogo {
	font-family: 'Lato Regular';
	font-size: 14px;
	text-align: left;
	color: #CCCCCC;
	margin-left: 5%;
	padding-left: 5%;
	width: 80%;
	margin-top: 42px;
}

#leftbar .criteria#criteriasearch {
	font-family: 'Lato Regular';
	margin-left: 5%;
	width: 90%;
	margin-top: 8px;
	text-align: left;
	font-size: 16px;
}
 #imageResults img{
 	margin-bottom:20px;
    height: 80px;
    width: auto;
}
.numberofresults{
	font-family: 'Lato Regular';
	font-size: 12px;
	margin-top:5px;
}
#number{
	font-size:15px;
}

#musicResults .result-elements{
	border-left-width: 0pt;
	height: 230px;
	width: 16%;
	display: inline-table;
	margin: 1%;
	padding: 5px;
	background-color: white;
	border-radius: 2px;
	box-shadow: 0px 0px 4px grey;
	overflow: hidden;
}

#musicResults .result-elements .thumbnailpic{
	max-width: 100%;
	width: 100%;
	height: 70%;
}

#musicResults .result-elements .heightAdjuster{
	background-color: white;
	max-height: 43px;
	overflow-y: auto; 
}

 @-moz-document url-prefix() {
    #musicResults .result-elements .heightAdjuster{
	background-color: white;
	max-height: 20px;
	overflow-y: auto; 
}
}

#imageResults .result-elements{
	border-left-width: 0pt;
	height: 230px;
	width: 22%;
	display: inline-table;
	padding: 0px;
	margin: 1%;
	background-color: white;
	box-shadow: 0px 0px 4px grey;
	border-radius: 2px;
}

#imageResults .result-elements img{
	width: 100%;
	padding: 0px;
	margin: 0px;
}

#softwareResults .result-elements{
	border-left-width: 0pt;
	
	width: 100%;
	margin: 1%;
	padding: 5px;
	background-color: white;
	border-radius: 2px;
	box-shadow: 0px 0px 4px grey;
	text-align: center;
}
#softwareResults .result-elements div{
	padding: 5px; 
	text-align: center;
}
#softwareResults .result-elements a{
	padding: 5px;
	background-color: #5FB0E7;
	border-radius: 2px;
	text-decoration: none;
	color: white;
}
#softwareResults .result-elements a:hover{
	padding: 5px;
	background-color: white;
	color: #5FB0E7;
	border: 1px solid #5FB0E7;
	border-radius: 2px;
	text-decoration: none;
}

#softwareResults .result-elements .sdesc{
	
}

.stitle{
	font-family: 'Lato Regular';
	font-size: 25px;
	color: black;
}

#ebookResults .result-elements , #peopleResults .result-elements{
	border-left-width: 0pt;
	height: auto;
	width: 96%;
	display: inline-table;
	margin: 1%;
	padding: 2%;
	background-color: white;
	border-radius: 2px;
	box-shadow: 0px 0px 4px grey;
	text-align: center;
}

#ebookResults .result-elements .thumbnailpic , #peopleResults .result-elements .thumbnailpic{
	float: left;
	width: 15%;
	height: auto;
	
}

#ebookResults .result-elements .ebtitle , #peopleResults .result-elements .ppname{
	width: 85%;
	float: right;
	background-color: white;
	color: black;
	font-family: 'Lato Regular';
	font-size: 25px;
	text-align: center;
	padding: 5px 0px 5px 0px;
}

#ebookResults .result-elements .ebauthor , #peopleResults .result-elements .ppbranch{
	width: 85%;
	float: left;
	background-color: white;
	color: #008000;
	font-family: 'Lato Regular';
	font-size: 15px;
	text-align: center;
	padding: 5px 0px 5px 0px;
	margin: 5px 0px 5px 0px;
}
#ebookResults .result-elements .dl{
	padding: 5px;
	background-color: #5FB0E7;
	border-radius: 2px;
	text-decoration: none;
	color: white;
}
#ebookResults .result-elements .dl:hover{
	padding: 5px;
	background-color: white;
	color: #5FB0E7;
	border: 1px solid #5FB0E7;
	border-radius: 2px;
	text-decoration: none; 
}

.ebsp{
	padding-top: 10px;
}
.ebformat{
	width: 85%;
	float: right;
}

.ebformat, .ppsp{
	color: #5FB0E7;
}

#peopleResults .result-elements .thumbnailpic{
	max-height: 150px;
}

#oops{
	width: 96%;
	text-align: center;
	font-size: 50px;
	height: auto;
	margin: 1%;
	padding: 1%;
	color: #5FB0E7;
}

#danger{
	width: 96%;
	height: auto;
	margin: 1%;
	padding: 1%;
	text-align: center;
	font-family: 'Lato Regular';
	font-size: 25px;
	color: #555555;
}