#topbar{z-index:1000;width:100%;background:url("../images/topbar.jpg") top repeat-x;background-color:#fff;position:fixed;box-shadow:0 0 3px rgba(0,0,0,0.33);top:0;left:0}
#topbar .apps{display:none;background-color:#fff;padding:10px auto;height:110px;}
#topbar .apps img{width:100px}
#topbar .header .apps li{padding:5px}
#topbar .navbar{position:relative;width:1268px;margin:0 auto;padding-top:5px;padding-bottom:0;height:37px;border:0;visibility:visible;z-index:2;background:none;}
#topbar .navbar ul{left:0;top:0;visibility:visible;position:relative;list-style:none;}
#topbar .navbar li{display:inline-block;zoom:1;vertical-align:middle;position:relative;visibility:visible;}
#topbar .navbar li a{border:1px solid transparent;border-left:0;border-right:0;display:block;text-decoration:none;white-space:nowrap;}
#topbar .navbar li a.selected{color:#000}
#topbar .navbar .logo{line-height:1.5em;padding:5px 20px;text-decoration:none;white-space:nowrap;padding:1px 70px;display:inline-block;border:0;zoom:1;margin:0;vertical-align:middle;}
#topbar .navbar .logo img{border:0;width:26px}
#topbar .pure-menu-fixed{position:relative}
#topbar .navbar > ul{display:inline-block;zoom:1;vertical-align:middle;height:2.4em;margin-top:0}
#topbar ul li a{padding:3px 8px 5px 8px;font-size:13px;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;transition:all .2s ease-in-out;color:#95a5a6;}
#topbar ul li a:hover,#topbar ul li a:focus{color:#000;background-color:transparent}
#topbar .links{margin:0 auto;padding-left:34px;width:552px;overflow-y:hidden;}
#topbar .links li{margin-top:5px}
#topbar ul.pull-right{width:250px;margin-right:30px;text-align:right;margin-bottom:0;}
#topbar ul.pull-right.login li{display:inline-block;}
#topbar ul.pull-right.login li>a{padding:0}
#topbar ul.pull-right.login .profile-pic,#topbar ul.pull-right.login .user,#topbar ul.pull-right.login .pulldown{display:none}
#topbar ul.pull-right ul{vertical-align:middle}
#topbar ul.pull-right li{line-height:35px;display:none}
#topbar ul.pull-right .profile-pic,#topbar ul.pull-right .user,#topbar ul.pull-right .pulldown{display:inline-block}
#topbar ul.pull-right .user{color:#95a5a6;text-align:center;height:35px;max-width:147px;overflow:hidden;padding:0;font-size:.8em;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
#topbar ul.pull-right .user:hover{color:#000}
#topbar ul.pull-right .pulldown{height:35px;padding-left:2px;padding-right:5px;}
#topbar ul.pull-right .pulldown a{padding:0;}
#topbar ul.pull-right .pulldown a img{position:absolute;top:12px;padding:0;-webkit-filter:invert(40%);-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
#topbar ul.pull-right .pulldown a:hover img{-webkit-filter:invert(10%)}
#topbar ul.pull-right button{height:25px;font-family:'Lato';font-size:11px;margin:5px 10px;padding:0 15px}
#topbar ul.pull-right button.sign-up-button{background-color:#e85c41}
#topbar ul.pull-right button.log-in-button{background-color:#008ed4}
#topbar .login .user,#topbar .profile .user{text-align:center;overflow:hidden}
#topbar .login .profile-pic div,#topbar .profile .profile-pic div{height:40px;width:40px;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;background-image:url("../images/anon.png");background-size:cover;background-position:center}
#topbar .profile{z-index:100000}
#topbar .profile-pic-large{text-align:center;}
#topbar .profile-pic-large div{height:50px;width:50px}
#topbar .profile{display:none;position:absolute;background-color:#fff;top:42px;right:-5px;width:220px;box-shadow:0 8px 15px -3px rgba(100,100,100,0.2);border:1px solid #c0c0c0;}
#topbar .profile ul{border-top:1px solid #dfdfdf;background-color:#eee;}
#topbar .profile ul li a{text-align:center}
#topbar .profile .pure-menu-heading{text-transform:none;padding:10px 20px}
#topbar .profile .fui-gear{padding-right:5px}
#topbar .profile .profile-pic{width:50px}
#topbar .profile .profile-pic,#topbar .profile .user{display:inline-block;zoom:1;letter-spacing:normal;word-spacing:normal;vertical-align:top;text-rendering:auto}
#topbar .profile .user{overflow:hidden;max-width:132px;letter-spacing:-1px;line-height:40px;color:#333}
#topbar .profile .user-content{display:block;line-height:1.5em;padding:15px 20px;text-decoration:none;white-space:nowrap}
#topbar .profile .options{list-style:none;top:0;left:0;visibility:visible;margin:0;padding:0;z-index:1;letter-spacing:-.31em}
#topbar .profile li{position:relative}
#topbar .profile li.settings,#topbar .profile li.logout{width:50%;display:inline-block;zoom:1;letter-spacing:normal;word-spacing:normal;vertical-align:top;text-rendering:auto;}
#topbar .profile li.settings a,#topbar .profile li.logout a{display:block;line-height:1.5em;padding:5px 20px;text-decoration:none;white-space:nowrap}
#topbar.special .profile{right:245px}
#topbar.special .links{width:485px}
#topbar-search{margin:0;}
#topbar-search .search{display:inline-block;border:1px solid #ccc;font-size:.8em;box-shadow:inset 0 1px 3px #ddd;-webkit-transition:.3s linear border;-moz-transition:.3s linear border;-ms-transition:.3s linear border;-o-transition:.3s linear border;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;transition:all .3s ease-in-out;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-font-smoothing:antialiased;width:300px;position:relative;top:-3px;background-repeat:no-repeat;background-position:right center;outline:0;backgrouds-size:cover;padding:.5em .6em;}
#topbar-search .search:focus{outline:0;outline:thin dotted 9;border-color:#129fea}
#suggestions{position:fixed;display:none;top:40px;z-index:700;width:300px;overflow-y:auto;background-color:#fbfbfb;color:#444;-webkit-box-shadow:;-moz-box-shadow:;box-shadow:;}
#suggestions .feeds-wrapper{border:none;background-color:transparent;}
#suggestions .feeds-wrapper a.link{white-space:normal;color:#444;border-bottom:1px solid #ddd;font-weight:300;padding:12px 0 18px 0;-webkit-transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-o-transition:all .1s ease-in-out;-ms-transition:all .1s ease-in-out;transition:all .1s ease-in-out;}
#suggestions .feeds-wrapper a.link .user-pic{text-align:center;margin-top:3px;}
#suggestions .feeds-wrapper a.link .user-pic div{vertical-align:middle;margin-left:15px;height:36px;width:35px;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;background-size:cover;background-position:center}
#suggestions .feeds-wrapper a.link .msg-wrapper{width:75%;font-size:11px;line-height:14px;}
#suggestions .feeds-wrapper a.link .msg-wrapper .msg .user-name{display:block;overflow:hidden;font-size:1.1em}
#suggestions .feeds-wrapper a.link:hover,#suggestions .feeds-wrapper a.link:focus{-webkit-transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-o-transition:all .1s ease-in-out;-ms-transition:all .1s ease-in-out;transition:all .1s ease-in-out;background-color:#ddd}
#topbar button{display:inline-block;zoom:1;line-height:normal;white-space:nowrap;vertical-align:baseline;text-align:center;cursor:pointer;-webkit-user-drag:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;font-size:100%;padding:.5em 1.5em;color:#fff;border:1px solid #999;border:0 rgba(0,0,0,0);background-color:#e6e6e6;text-decoration:none;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-webkit-font-smoothing:antialiased;-webkit-transition:.1s linear -webkit-box-shadow;-moz-transition:.1s linear -moz-box-shadow;-ms-transition:.1s linear box-shadow;-o-transition:.1s linear box-shadow;-webkit-transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-o-transition:all .1s ease-in-out;-ms-transition:all .1s ease-in-out;transition:all .1s ease-in-out}
#topbar .pointer{cursor:pointer}

